<footer class="site-footer" id="contact">
  <div class="container footer-simple">
    <div class="footer-column">
      <div><strong>© Artbroker International 2026</strong></div>
      <div><strong>Artbroker International</strong></div>
    </div>

    <div class="footer-column">
      <div><span>Email:</span> info@artbroker-int.nl</div>
      <div><span>Tel:</span> +31 (0)411 68 40 49</div>
    </div>

    <div class="footer-column">
      <div><span>KvK 's-Hertogenbosch:</span> 16061175</div>
      <div><span>BTW nr:</span> NL001744433B14</div>
    </div>
  </div>
</footer>
