<footer class="site-footer" id="contact" aria-label="Bedrijfsgegevens Artbroker International">
  <div class="container footer-simple">
    <div class="footer-item">
      <strong>© Artbroker International 2026</strong>
    </div>

    <div class="footer-item">
      <span>Email:</span> <a href="mailto:info@artbroker-int.nl">info@artbroker-int.nl</a>
    </div>

    <div class="footer-item">
      <span>KvK 's-Hertogenbosch:</span> 16061175
    </div>

    <div class="footer-item">
      <span>BTW nr:</span> NL001744433B14
    </div>
  </div>
</footer>
